*.umap[[:space:]]*.uasset[[:space:]]*.uproject[[:space:]]*.wav[[:space:]]*.fbx[[:space:]]*.blend[[:space:]]*.obj[[:space:]]*.png[[:space:]]*.jpg[[:space:]]*.jpeg[[:space:]]*.hdr[[:space:]]*.exr[[:space:]]*.mp3[[:space:]]*.mp4[[:space:]]*.mov[[:space:]]*.psd[[:space:]]*.mb[[:space:]]*.tga[[:space:]]*.cubemap[[:space:]]*.tif[[:space:]]*.bin.fbx[[:space:]]*.upk[[:space:]]*.udk[[:space:]]*.duf filter=lfs diff=lfs merge=lfs -text
*.umap,*.uasset[[:space:]]*.uproject[[:space:]]*.wav[[:space:]]*.fbx[[:space:]]*.blend[[:space:]]*.obj[[:space:]]*.png[[:space:]]*.jpg[[:space:]]*.jpeg[[:space:]]*.hdr[[:space:]]*.exr[[:space:]]*.mp3[[:space:]]*.mp4[[:space:]]*.mov[[:space:]]*.psd[[:space:]]*.mb[[:space:]]*.tga[[:space:]]*.cubemap[[:space:]]*.tif[[:space:]]*.bin.fbx[[:space:]]*.upk[[:space:]]*.udk[[:space:]]*.duf filter=lfs diff=lfs merge=lfs -text
